@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line::after {
    content: "" !important;
    background-color: #40e0d0 !important;
    width: 1.4rem !important;
    height: 0.2rem !important;
    display: block !important;
    margin-top: 0.3rem !important;
    margin-left: 0.5rem !important;
  }
  .heading::after,
  .heading-white::after {
    content: "" !important;
    width: 2rem !important;
    height: 0.3rem !important;
    display: block !important;
    margin-top: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .heading::after {
    background-color: #40e0d0 !important;
  }
  .heading-white::after {
    background-color: #ffffff !important;
  }
  input::placeholder {
    color: rgba(0, 0, 0, 0.26);
  }
  .behavior {
    scroll-behavior: smooth;
  }
}
